@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body,
html {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.6;
  color: #f1faee;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  background-color: #0a0a0a;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit-based browsers (e.g., Chrome, Safari) */
}
